body{
    /* background: linear-gradient(
    90deg,
    rgb(178, 250, 250),
    rgb(241, 255, 255) 
  ); */
    background: linear-gradient(
    90deg,
    rgb(235, 204, 240),
    rgb(206, 248, 248) 
  );
}

.images-wrapper{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 24px;
    display:grid;
    grid-template-columns: 220px 220px;
    align-items: baseline;
  }

.App{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    padding: 40px 24px;
}

h1 {
  margin: 32px 0;
  font-size: 24px;
}

.form{
    margin-bottom: 32px;
}

.input{
    padding: 14px 16px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #2669fc;
    outline: none;
    width: 250px;
    background: transparent;
    color: rgb(0, 0, 0);
}

.button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        #2669fc 0%,
        #6292f8 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.image-name{
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
}
